ul {
  list-style: none;
}

.orderInfo {
  width: 800px;
  height: 150px;
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.closeBtn {
  height: 15px;
  width: 15px;
  border: solid black 1px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Trispace', sans-serif;
}

/*ν—¤λ”*/

.bookLogo {
  width: 150px;
  height: 90px;
}

.hidden {
  display: none !important;

}


/*ν‘Έν„°*/

.footerbody {
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}


