* {
    font-family: 'Trispace', sans-serif;
  }

/*ν—¤λ”*/

  .bookLogo {
    width: 150px;
    height: 90px;
  }

  .hidden {
    display: none !important;
  
  }


  /*ν‘Έν„°*/

  .footerbody {
    margin-top: 3rem;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: column;
    font-size: small;
  }
  
  .footerCompany {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .businessInfo {
    margin-bottom: 10px;
  }
  
  .footerContents {
    margin-bottom: 10px;
  }
  
  .footerContents a {
    margin-right: 10px;
    color: black;
    opacity: 0.5;
  }
  
  .businessDetailOne {
    margin-bottom: 10px;
  }
  
  .businessDetailOne span {
    margin-right: 5px;
  }
  
  .businessDetailTwo {
    margin-bottom: 10px;
  }
  
  .businessDetailTwo span {
    margin-right: 5px;
  }
  
  .finalFooter {
    margin-bottom: 3rem;
  }
  
 
  
  