* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}

div.product {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

div.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

div.top > div.img-wrap {
  width: 30%;
  text-align: center;
}
div.top > div.product-explain {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

div.order-wrap {
  height: 150px;
  background-color: #d6d8d8;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

a.btn {
  font-size: 1.2em;
}

a.btn:hover {
  color: darkred;
}

span.title {
  font-size: 1.5em;
  font-weight: bold;
}

span.totalPrice {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
