#product-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.left {
  width: 50%;
  text-align: center;
  position: relative;
}
div.left > label {
  display: inline-block;
  background-color: #bebebe;
  width: 200px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  margin-top: 1rem;
}
div.left > label:hover {
  background-color: #3f8ed0;
  color: antiquewhite;
}

div.left > input[type='file'] {
  width: 200px;
  opacity: 0;
}

div.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.preview > div > img {
  width: 270px;
  height: 400px;
  object-fit: cover;
  margin: 10px 0;
  border: 6px solid #bebebe;
}
div.right {
  width: 80%;
  padding-left: 2rem;
  margin: auto 0;
}

div.right > span {
  display: block;
  font-size: medium;
  font-weight: bold;
  margin-top: 1rem;
}
div.right > .title {
  margin-bottom: 0;
}

div.right > input[type='text'],
input[type='number'] {
  font-size: 18px;
  width: 360px;
  height: 30px;
  border-radius: 5px;
  text-indent: 10px;
  border: 1px solid #000000;
}
/* 화살표 제거 후 백그라운드 주기 */
div.right > select {
  -webkit-appearance: none;
  appearance: none;
  width: 360px;
  height: 30px;
  font-size: 15px;
  background: url('https://cdn.pixabay.com/photo/2013/07/12/13/43/arrow-147172_1280.png')
    calc(100% - 5px) center no-repeat;
  background-size: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  text-indent: 10px;
}
div.right > textarea {
  width: 360px;
  height: 100px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 0 0 5px;
  border: 1px solid #000000;
}
#submit-info {
  display: inline-block;
  width: 100px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #3f8ed0;
  color: antiquewhite;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}
#submit-info:hover {
  background-color: #3274aa;
}
