<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="inquiryProduct.css" />
    <script src="admin.js" type="module" defer></script>
    <script src="inquiryProduct.js" type="module" defer></script>
    <script src="addProduct.js" type="module" defer></script>
    <title>관리자</title>
  </head>
  <body>
    <header>
      <h1><a href="/">iBook</a></h1>
    </header>
    <div class="main-container">
      <div class="menu-bar">
        <span>관리자님</span>
        <div class="product-menu">
          상품
          <ul>
            <li class="products">도서 조회</li>
            <li class="add">도서 추가</li>
            <li class="category">카테고리 관리</li>
          </ul>
        </div>
        <div class="order-menu">
          주문
          <ul>
            <li class="orders">조회</li>
            <li class="shipment">배송관리</li>
          </ul>
        </div>
        <div class="user-menu">
          사용자
          <ul>
            <li class="users">조회</li>
            <li class="management">관리</li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="landing">사용하실 메뉴바를 클릭해주세요 :)</div>
      </div>
    </div>
  </body>
</html>
