* {
  box-sizing: border-box;
  font-family: 'Trispace', sans-serif;
}
body {
  width: 90%;
  margin: 0 auto;
}
.bookLogo {
  width: 150px;
  height: 90px;
}

.hidden {
  display: none !important;
}

/*상단 메뉴*/
#categoryMenu {
  margin-left: 5rem;
  display: flex;
  height: 50px;
}

#categoryMenu li {
  margin: auto 0;
  margin-right: 15px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

/*메인영역*/
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.landing h2 {
  margin-bottom: 2rem;
}

.main-container {
  width: 90%;
  height: 130vh;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.content {
  padding-top: 1rem;
  width: 100%;
  max-width: 970px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  /* background-color: #f7f7f7; */
}

/*푸터*/
.footerbody {
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}

/*카테고리 수정*/

.addCategoryInputDiv {
  width: 300px;
  height: 50px;
}

.addCategory {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.addCategory button {
  width: 130px;
}

.editDeleteCategory {
  display: flex;
  flex-direction: column;
}

.editDeleteDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.editDeleteDiv input {
  width: 300px;
  height: 50px;
}

.editDeleteDiv .editBtn {
  margin-right: 5px;
}
