* {
  box-sizing: border-box;
  font-family: 'Trispace', sans-serif;
}
body {
  width: 90%;
  margin: 0 auto;
}
.navbar > .container {
  height: 100px;
  justify-content: space-between;
}
.bookLogo {
  width: 150px;
  height: 90px;
}
.user {
  font-size: large;
  font-weight: bold;
  line-height: 100px;
}
.hidden {
  display: none !important;
}

/*상단 메뉴*/
#categoryMenu {
  display: flex;
  height: 50px;
  position: relative;
}

#categoryMenu::after {
  display: inline-block;
  content: ' ';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

#categoryMenu li {
  margin: auto 0;
  margin-right: 15px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
#categoryMenu li:hover {
  color: #9c0000;
}

/*메인영역*/
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.landing h2 {
  margin-bottom: 2rem;
}

.main-container {
  width: 90%;
  height: 130vh;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.content {
  padding-top: 1rem;
  width: 100%;
  max-width: 970px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  /* background-color: #f7f7f7; */
}

/*푸터*/
.footerbody {
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}
