<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="editCategory.js" type="module" defer></script>
    <!-- bulma css -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
     />
    <link rel="stylesheet" href="editCategory.css" />

    <title>Document</title>
</head>
<body>
    <div class="categoryDiv">
        <div class ="addCategory">
            <input id="addCategoryInput" class="input categoryInput" type="text" placeholder="Category">
            <button id="addBtn" class="button is-primary">추가</button>
        </div>

        <div class="editDeleteCategory">
            <input id="editCategoryInput" class="input categoryInput" type="text" placeholder="Category">
            <button id="deleteBtn" class="button is-danger">삭제</button>
        </div>
        
        <button id="editBtn" class="button is-info">수정하기</button>
    </div>

</body>
</html>