div.search-wrap {
  width: 70%;
  height: 50px;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
div.search-wrap > .searchInput {
  width: 70%;
  height: 35px;
  border-radius: 7px;
  font-size: 1em;
  text-indent: 15px;
  border: 2px solid #bebebe;
}
div.search-wrap > input[type='button'] {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #bebebe;
  font-size: medium;
  cursor: pointer;
}
div.search-wrap > input[type='button']:hover {
  background-color: #3f8ed0;
  color: antiquewhite;
  font-size: medium;
}

div.list {
  height: 900px;
  overflow: auto;
}
.list::-webkit-scrollbar {
  display: none;
}

div.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
}
div.product::after {
  position: absolute;
  left: 0px;
  bottom: 2px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
div.product-image {
  width: 110px;
  height: 100%;
  background-color: #ff7070;
}
div.product-image > img {
  width: 100%;
  height: 100%;
}
div.info-wrap {
  width: 580px;
  padding: 10px 0 0 20px;
}
div.info-wrap > span {
  display: block;
  cursor: default;
}
div.info-wrap > .title {
  margin-bottom: 1rem;
  font-size: large;
  cursor: pointer;
}
div.info-wrap > .title:hover {
  text-decoration: underline;
}
div.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.btn-wrap > .update {
  width: 90px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #3f8ed0;
  color: antiquewhite;
  font-size: medium;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

div.btn-wrap > .del {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: #f14668;
  color: antiquewhite;
  font-size: medium;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

div.btn-wrap > .update:hover,
div.product-explain > .check:hover {
  background-color: #3274aa;
}
div.btn-wrap > .del:hover {
  background-color: #bd3651;
}
div.product-wrap {
  display: flex;
}
div.product-explain {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 1rem 0 0 1rem;
}
div.product-explain > span {
  margin-bottom: 1rem;
}
div.product-explain > .check {
  width: 90px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #3f8ed0;
  color: antiquewhite;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}
