ul {
  list-style: none;
  padding: 0px;
}

.InfoBoxes {
  display: grid;
  grid-template-columns: 20% 80%;
  border: solid 1px;
}
.center {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.inputSort {
  display: grid;
  grid-template-columns: 20% 80%;
}
.Info {
  display: grid;
  grid-template-columns: 70% 30%;
}

.product {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.priceInfoBox {
  border: solid 1px;
}
