<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orderComplete.css" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="compleBox">
        <div class="thankBox"><h2>결제가 완료되었습니다 감사합니다.</h2></div>
        <div class="buttonBox">
          <div><button class="goHome">홈화면 이동</button></div>
          <div><button class="goOrderInfo">주문확인(주문조회)</button></div>
        </div>
      </div>
    </main>
    <script src="orderComplete.js"></script>
  </body>
</html>
