* {
  font-family: 'Trispace', sans-serif;
  text-decoration: none;
}

.bookLogo {
  width: 150px;
  height: 90px;
}

#category {
  margin-left: 5rem;
  display: flex;
}

#category a {
  margin-left: 15px;
  font-size: 18px;
  color: black;
}

.mainBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mainBannerImage {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/20/11/54/book-wall-1151405_1280.jpg");
  margin: 2rem;
  width: 90%;
  height: 60vh;
}

.mainBooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120vh;
  /* background-color: floralwhite; */
}

#firstRow,
#secondRow,
#thirdRow {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;

  margin: 2rem 2rem;
  width: 90%;
  height: 40vh;
}

#firstRow div,
#secondRow div,
#thirdRow div {
  width: 180px;
  height: 250px;
  background-color: hotpink;
}

#firstRow div img,
#secondRow div img,
#thirdRow div img {
  width: 180px;
  height: 250px;
} 


.navbar-brand {
  display: flex;
  flex: row;
  align-items: center;
  color: black;
}

.fa-user-plus {
  margin-right: 5px;
}

.has-text-link {
  color: black;
}


.footerbody {
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}

.hidden {
  display: none;

}


/* hamburger */

.hamburger .bar {
  display: block;
  width: 30px;
  height: 7px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: gray;
}


/*  */