* {
  font-family: 'Trispace', sans-serif;
  text-decoration: none;
}

.header .menuOnTopright .headerMenu li a {
  color: black;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}

.header .menuOnTopright .headerMenu li a:hover {
  color: #bd3651;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}

.menuOnTopright .headerMenu {
  display: flex;
  flex-direction: row;
}

.bookLogo {
  width: 150px;
  height: 90px;
}

#categoryMenu {
  margin-left: 5rem;
  display: flex;
}

#categoryMenu a {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

#categoryMenu a:hover {
  color: #bd3651;
}

.mainBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainBannerImage {
  background: url('../mainbanner01.png') no-repeat center;
  background-size: cover;
  margin: 2rem;
  width: 90%;
  height: 60vh;
}

.mainBooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120vh;
  /* background-color: floralwhite; */
}

.displayBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowBooks a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

#firstRow,
#secondRow,
#thirdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: 2rem 2rem;
  width: 90%;
  height: 40vh;
}

.rowBooks {
  background-color: aliceblue;
  width: 170px;
  height: 250px;
}

.bookImages {
  width: 170px;
  height: 250px;
  object-fit: cover;
}

.bookImages:hover {
  width: 180px;
  height: 260px;
}

.navbar-brand {
  display: flex;
  flex: row;
  align-items: center;
  color: black;
}

.fa-user-plus {
  margin-right: 5px;
}

.has-text-link {
  color: black;
}

.footerbody {
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}

.hidden {
  display: none !important;
}
