.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.has-text-link {
  margin-left: 5px;
  color: black;
}

* {
  font-family: 'Trispace', sans-serif;
  text-decoration: none;
}
.header nav {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header nav .menuOnTopright {
  /* background-color: antiquewhite; */
}

.header .menuOnTopright .headerMenu li a {
  color: black;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}

.header .menuOnTopright .headerMenu li a:hover {
  color: #bd3651;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}


.menuOnTopright .headerMenu {
  display: flex;
  flex-direction: row;
}

.bookLogo {
  width: 150px;
  height: 90px;
}

.hidden {
  display: none !important;
}