<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cart.css" />
    <script
      src="https://kit.fontawesome.com/1008239bb7.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <div class="searchWrap">
          <h1 class="logoBox">
            <a href="http://kdt-sw3-team02.elicecoding.com/" class="logoLink"
              ><img class="logoImg" src="Ibook.png"
            /></a>
          </h1>
          <div class="searchBox">
            <div class="searchInputWrap">
              <input
                class="searchKeyword"
                type="search"
                placeholder="책 이름을 검색하세요"
              />
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </div>
          </div>
          <ul class="userMenuList">
            <li class="userMenuCart">
              <a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
            </li>
            <li class="userMenuMypage">
              <a href=""
                ><div class="userIconBackground">
                  <i class="fa-regular fa-user fa-2x"></i></div
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <form class="hidden">
      <input class="bookName" placeholder="book name" />
      <input class="bookPrice" placeholder="book price" />
      <input class="bookId" />
      <button class="addBtn">추가하기</button>
    </form>

    <main class="main">
      <div class="cartName">장바구니</div>
      <form>
        <button class="selectDelBtn">
          <i class="fa-solid fa-trash fa-2x"></i>
        </button>
        <button class="allDelBtn">전체삭제</button>
      </form>
      <div class="cartBody">
        <ul class="list">
          <div class="cartBodyHead">
            <button class="selectAll">
              <i class="fa-solid fa-check"></i>
            </button>
            <span>전체선택</span>
          </div>
        </ul>
        <div class="totalProductInfo">
          <div class="productInfoWrap">
            <div class="productPrice">
              <span>상품 금액</span>
              <div>
                <span class="totalPrice1"></span>
                <span>원</span>
              </div>
            </div>
            <div class="deliveryWrap">
              <span class="deliveryPrice">배송비</span>
              <span>0 원</span>
            </div>
          </div>
          <div class="buyWrap">
            <button class="buy">주문하기</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footerbody">
        <div class="footerCompany">IBook</div>
        <div class="businessInfo">사업자 정보</div>
        <div class="footerContents">
          <a href="#"><span>이용약관</span></a>
          <a href="#"><span>개인정보처리방침</span></a>
          <a href="#"><span>청소년보호정책</span></a>
          <a href="#"><span>대량주문안내</span></a>
          <a href="#"><span>채용공고</span></a>
        </div>
        <div class="businessDetailOne">
          <span>대표이사 : iiiiii</span>
          <span>서울특별시 종로구 종로 1</span>
          <span>사업자등록번호 : 102-88-11234</span>
        </div>
        <div class="businessDetailTwo">
          <span>대표전화 : 1234-1234(발신자 부담전화)</span>
          <span>FAX : 0123-456-7899(지역번호 공통)</span>
          <span>서울시 서울특별시 통신판매업신고번호 : 제 653호 </span>
          <button>사업자 정보 확인</button>
        </div>
        <div class="finalFooter">©I BOOK CENTRE</div>
      </div>
    </footer>
    <script src="cart.js"></script>
  </body>
</html>
